$light: aliceblue;
$light-trans: rgba(240, 248, 255, 0.5);

$primary: #096474;
$primary-hover: #0babc7;
$primary-trans: #0964747c;

$secondary: #3b0060;
$secondary-hover: #7200b9;
$secondary-trans: #3b00607c;

$success: #0e9e8b;
$success-hover: #04d6ba;
$success-trans: #0e9e8b7c;

$danger: #97003f;
$danger-hover: #bb1414;
$danger-trans: #9e023e7c;
