.chat-window {
  border-right: 1px solid white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;

  .chat-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    h1 {
      color: rgb(214, 179, 255);
      text-align: center;
    }
  }

  .chat-area {
    background-color: rgba(240, 248, 255, 0.5);
    backdrop-filter: blur(16px);
    height: 90vh;
    position: relative;

    .close-chat {
      position: absolute;
      background-color: rgba(0, 0, 0, 0.5);
      margin: 5px;
      padding: 3px 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 7px;
      color: rgb(179, 179, 179);
      font-size: 0.8rem;
      cursor: pointer;
      transition: 0.2s ease-in-out;
      z-index: 1;

      #close-icon {
        font-size: 1.2rem;
      }

      &:hover {
        color: white;
      }
    }

    .scroll-wrapper {
      width: 100%;
      height: 90vh;

      .msg-wrapper {
        padding: 20px;
        display: flex;
        flex-direction: column;

        #no-msgs {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: $danger;
          font-weight: 800;
          letter-spacing: 3px;
        }

        .msg {
          align-self: flex-start;
          min-width: 40px;
          max-width: 300px;
          margin-top: 20px;

          .msg-text {
            box-shadow: 1px 3px 3px black;
            border-radius: 15px;
            padding: 10px;
            background-color: $secondary-hover;
            color: $light;
            text-shadow: 1px 1px 1px black;
            font-weight: 400;
          }

          .info {
            padding: 5px;

            h5 {
              color: rgb(113, 113, 113);
              font-weight: 400;
            }
          }
        }

        .myMsg {
          align-self: flex-end;
          min-width: 40px;
          max-width: 300px;
          margin-top: 20px;

          .msg-text {
            box-shadow: 1px 3px 3px black;
            border-radius: 15px;
            padding: 10px;
            background-color: $primary-hover;
            color: $light;
            text-shadow: 1px 1px 1px black;
            font-weight: 400;
          }

          .info {
            padding: 5px;

            h5 {
              color: rgb(113, 113, 113);
              font-weight: 400;
            }
          }
        }
      }
    }
  }

  .input-area {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .chat-input {
      border: 2px solid aliceblue;
      width: 80%;
      height: 50px;
      display: flex;
      justify-content: space-between;
      border-radius: 15px;

      textarea {
        width: 85%;
        border: none;
        outline: none;
        background-color: rgb(214, 214, 214);
        text-indent: 10px;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        padding: 5px;
      }

      .emoji-btn {
        width: 5%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(214, 214, 214);
        font-size: 1.7rem;
        color: rgb(80, 41, 5);
        cursor: pointer;
        transition: 0.2s ease-in-out;

        &:hover {
          color: rgb(153, 76, 5);
        }
      }

      .send-btn {
        flex: 1;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(214, 214, 214);
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        border-left: 1px solid black;
        font-size: 1.5rem;
        color: #0e9e8b;
        cursor: pointer;
        transition: 0.2s ease-in-out;

        &:hover {
          box-shadow: -1px 0px 3px black;
          color: #0dc7ae;
        }
      }
    }

    .emoji-window {
      position: absolute;
      bottom: 100%;
      right: 15%;
    }
  }
}
